<div class="bookingDetails">
  <div class="title ms-4">
    <h3>Booking Details</h3>
    <div class="searchbar">
      <input
        type="search"
        placeholder="Serch here"
        style="width: 350px; border-radius: 5px"
      />
    </div>
  </div>
  <div class="booking">
    <table class="table table-hover" style="color: black !important">
      <thead class="text-center">
        <tr>
          <th colspan="2">Pickup Location</th>
          <th colspan="2">Dropoff Location</th>
          <th>Pickup Date</th>
          <th>Fare</th>
          <th>Booking Status</th>
          <th colspan="2">Date & Time</th>
        </tr>
      </thead>
      <tbody class="text-center">
        <tr
          *ngFor="let booking of bookings"
          (click)="onBooking(booking.customer_id, booking.driver_id,booking.id)"
        >
          <td colspan="2">{{ booking.pickup_location }}</td>
          <td colspan="2">{{ booking.dropoff_location }}</td>
          <td>{{ booking.pickup_date | date : "dd/MM/yyyy" }}</td>
          <td>{{ booking.fare | currency : "INR" : "symbol" }}</td>
          <td>{{ booking.booking_status | titlecase }}</td>
          <td colspan="2">
            {{ booking.created_at | date : "dd/MM/yyyy hh:mm:ss" }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div
  class="modal fade"
  id="assignDriverModal"
  tabindex="-1"
  aria-labelledby="assignDriverModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="assignDriverModalLabel">Assign Driver</h3>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>

      <div class="modal-body text-center">
        <label for="driverSelect">Select Driver &nbsp;: &nbsp;&nbsp;</label>
        <select id="driverSelect" [(ngModel)]="selectedDriverId" name="vehicle" class="w-75 p-1">
          <option *ngFor="let driver of drivers" [value]="driver.id">{{ driver.name }}</option>
        </select>
      </div>
      
      <div class="modal-footer d-flex justify-content-center">
        <button type="button" class="btn btn-success p-2" (click)="assignDriver()">Assign</button>
        <button type="button" class="btn btn-secondary p-2" data-bs-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>

<!-- // {
    //   "id": 17,
    //   "customer_id": 1,
    //   "driver_id": null,
    //   "pickup_location": "d",
    //   "dropoff_location": "d",
    //   "booking_status": "pending",
    //   "fare": "620.00",
    //   "payment_status": "pending",
    //   "created_at": "2025-04-19T18:52:03.000Z",
    //   "pickup_date": "2025-04-25T18:30:00.000Z",
    //   "weight": 2000
    // }, -->
