<div class="dashboard">
    <div class="sidebar">
        <div class="logo p-2 ms-2">
            <p class="heading">EasyMove</p>
        </div>
        <div class="sidebar-item" routerLink="profile" routerLinkActive="active">
            <p>Driver Profile</p>
        </div> 
        <div class="sidebar-item" routerLink='booking-details' routerLinkActive="active">
            <p>Booking Details</p>
        </div>
        <div class="sidebar-item" routerLink='vehicle' routerLinkActive="active">
            <p>Vehicle Management</p>
        </div>
        <div class="sidebar-item" routerLink='payment' routerLinkActive="active">
            <p>Payment</p>
        </div>
        <div class="sidebar-item"  (click)="onLogout()">
            <p>Logout</p>
        </div>
    </div>
    <div class="body">
        <router-outlet></router-outlet>
    </div>
</div>