<div class="profile">
    <div class="left">
      <div class="img">
        <i class="bi bi-person-circle"></i>
        <span>{{ name }}</span>
      </div>
      <hr>
      <div class="details">
        <i class="bi bi-pencil-square" (click)="onEdit()"></i>
        <ul>
          <li><span>Name : {{ name }}</span></li>
          <br />
          <li><span>Email : {{ email }}</span></li>
          <br />
        </ul>
      </div>
    </div>
  </div>
  
  <!-- Edit Profile Modal -->
  <div class="modal fade" id="updateModal" tabindex="-1" aria-labelledby="updateModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
      
        <div class="modal-header">
          <h3 class="modal-title" id="updateModalLabel">Edit Profile</h3>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
      
        <div class="modal-body">
          <div class="form-group mb-3">
            <label for="name">Name</label>
            <input type="text" id="name" [(ngModel)]="updatedName" class="form-control">
          </div>
          <div class="form-group mb-3">
            <label for="email">Email</label>
            <input type="email" id="email" [(ngModel)]="updatedEmail" class="form-control">
          </div>
        </div>
      
        <div class="modal-footer d-flex justify-content-center">
          <button type="button" class="btn btn-primary" (click)="saveChanges()">Save</button>
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        </div>
      
      </div>
    </div>
  </div>
  