<div class="bookingDetails">
    <div class="title ms-4">
        <h3>Drivers</h3>
        <div class="searchbar">
            <input type="search" placeholder="Serch here" style="width: 350px; border-radius: 5px;">
        </div>
    </div>
    <div class="booking">
        <table class="table table-hover"  style="color: black !important;">
            <thead class="text-center">
              <tr>
                <th colspan="2">Name</th>
                <th colspan="2">Email</th>
                <th>Mobile Number</th>
                <th colspan="2">Date & Time</th>
              </tr>
            </thead>
            <tbody class="text-center">
                <tr *ngFor = 'let driver of drivers'>
                    <td colspan="2"> {{driver.name}}</td>
                    <td colspan="2">{{driver.email}}</td>
                    <td>{{driver.phone}}</td>
                    <td colspan="2">{{driver.created_at | date:'dd/MM/yyyy hh:mm:ss'}}</td>
                </tr>
            </tbody>
          </table>
    </div>
</div>
<!-- 
{
    "id": 9,
    "name": "John Doe",
    "email": "john@example.com",
    "password": "John@123",
    "phone": "1234567890",
    "role": "driver",
    "created_at": "2025-04-17T08:50:48.000Z"
}, -->
<div class="modal fade" id="driverModal" tabindex="-1" aria-labelledby="driverModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="driverModalLabel">Add Driver</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body d-flex justify-content-center">
            body
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary p-1" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

