<app-header></app-header>
<div class="home">
    <img src="../../assets/home2.png" alt="">
    <div class="info">
        <h4>Seamless Moves, Hassle-Free Journeys!</h4>
        <p>Looking for a reliable and efficient transportation solution? EasyMove is here to simplify your logistics needs! Our smart booking system connects customers with trusted drivers, ensuring smooth and hassle-free vehicle bookings. Whether you're moving goods or need a ride, EasyMove provides real-time tracking, secure payments, and a seamless experience from start to finish</p>
    </div>
</div>