<section>
    <div class="loginForm">
        <form [formGroup]="loginForm">
            <div class="logo_menu">
                <div style="cursor: pointer;" routerLink="">
                    <a class="navbar-brand text-center"><span>EasyMove</span></a>
                </div>
            </div>
            <div class="form-group">
                <label for="email">Email</label><br>
                <input class="form-control" type="text" id="email" formControlName="email"
                    placeholder=" Enter Email" required
                    [ngClass]="{'error':(loginForm.controls['email'].touched || loginForm.controls['email'].dirty) && (loginForm.controls['email'].hasError('required')) || (loginForm.controls['email'].hasError('email'))}">
            </div>
            <div class="form-group">
                <label for="name">Password</label><br>
                <input class="form-control" type="password" formControlName="password"
                    placeholder=" Enter Password "  required minlength="8"
                    [ngClass]="{'error':(loginForm.controls['password'].touched || loginForm.controls['password'].dirty) && (loginForm.controls['password'].hasError('required')) ||(loginForm.controls['password'].hasError('pattern')) || (loginForm.controls['password'].hasError('minLength')) }">
            </div>
            <div class="btn w-100">
                <button class="signup mt-3" (click)="validateLogin()">Login</button>
            </div>
            <p class="text-center mt-1">If you don't have an account <a href="/customer-signup">click here</a></p>
        </form>
    </div>
</section>

<div class="load" *ngIf="isLoader">
    <span class="loader"></span>
</div>